/* Main stylesheet */

* {
  font-size: 100%;
  margin: 0;
  line-height: 1;
  /* Standardized box model */
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
  background-image: url(images/white-waves.png);
  font-family: Helvetica, Arial, sans;
  font-size: 18px;
  line-height: 1.25;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  font-family: Oswald, Helvetica, Arial, sans;
  font-weight: bold;
  margin-bottom: 20px;
  color: black;
}

h1 {
  font-size: 36px;
  margin-bottom: 30px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 20px;
}

p {
  margin: 20px 0;
  line-height: 1.5;
}

ol, ul {
  margin: 20px 0;
  line-height: 1.25;
}

li {
  line-height: 1.75;
}

/* Unvisited, focused and clicked states */
a {
  color: #468f29;
  text-decoration: none;
  font-weight: bold;
}

/* On hover state */
a:hover {
  text-decoration: underline;
}

img {
  height: 250px;

  /* Hack to make sure images do not
  break our page */
  max-width: 100%;
}

code {
  background: lightgrey;
  padding: 0 5px 3px;
  border-radius: 3px;
}

/* Groups */
header,
section,
footer {
  clear: both;
  padding: 45px;
}

header {
  background-color: lightgray;
  background-image: url('images/nicola-valley-dark.jpg');
  background-size: cover;
  background-position: center;
  text-align: center;
  color: white;
  padding: 45px 0;
  margin: 0;
}

header h1 {
  font-size: 48px;
}

header h1 a {
  color: white;
}

header h2,
header h3,
header h1 {
  color: white;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
}

footer h1 {
  color: white;
}

section {
  padding: 0;
  margin: 45px 0;
}

section h1 {
  color: #c03434; /* Maroon */;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* NAVIGATION */

.nav {
  background-color: black;
}

.nav ul {
  margin: 0;
  padding: 0;
}

.nav li {
  font-family: Oswald, Helvetica, Arial, sans;
  display: inline-block;
  float: left;
  padding: 20px 30px 20px 0;
}

.nav li a {
  display: block;
  color: white;
  font-weight: bold;
}

.nav .nav-selected a {
  color: orange;
}

/* TABLES */

table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  background-color: white;
}

table th {
  text-align: left;
}

table th,
table td {
  padding: 10px 8px;
  border: 1px solid grey;
  line-height: 1.5;
}

/* CLASSES */

.title {
  font-size: 60px;
  margin-bottom: 50px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.banner {
  /* background-image: url(images/mountain-medium.jpg); */
  background-size: cover;
  background-position: center;
  height: 400px;
  text-align: center;
  padding-top: 120px;
}

.banner h2 {
  font-size: 60px;
  margin-bottom: 50px;
}

.banner p {
  font-size: 40px;
}

.pride {
  color: red;
  text-shadow: 3px 3px orange, 6px 6px yellow;
  margin-right: 3px;
}

.float-left {
  float: left;
  margin-right: 15px;
  margin-bottom: 15px;
}

.column {
  float: left;
  width: 50%;
}

.column-third {
  width: calc(100%/3);
}
